.productdisplay{
    display: flex;
    margin: 0px 170px 30px 30px;
}
.productdisplay-left{
    display: flex;
    gap: 17px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productdisplay-img-list img{
    width: 120px;
}
.productdisplay-main-img{
    width:540px;
    height: 600px;
}
.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right .ratings{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 7px;
    font-size: 16px;
}
.productdisplay-right-old-price{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-right-new-price{
    color: #ff4141;
}
.productdisplay-right-size h1{
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.productdisplay-right-size{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    margin: 10px 0px;
    gap: 20px;
}
.productdisplay-right-size span{
    padding: 10px 18px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
}
.productdisplay-right button{
    padding: 14px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}
.productdisplay-right-category{
    margin-top: 10px;
}
.productdisplay-right-category span{
    font-weight: 600;
}

@media(max-width:1280px){
    .productdisplay{
        margin: 0px 60px;
    }
    .productdisplay-left{
        gap: 10px;
    }
    .productdisplay-img-list{
        gap: 10px;
    }
    .productdisplay-img-list img{
        height: 100px;
        object-fit: contain;
    }
    .productdisplay-main-img{
        width: auto;
        height: 480px;
    }
    .productdisplay-right{
        margin: 0px 30px;
    }
    .productdisplay-right h1{
        font-size: 22px;
    }
    .productdisplay-right .ratings{
        gap: 5px;
        font-size: 14px;
    }
    .productdisplay-right-prices{
        margin: 10px 0px ;
        font-size: 18px;
    }
    .productdisplay-right-description{
        font-size: 13px;
    }
    .productdisplay-right-size h1{
        margin-top: 20px;
        font-size: 18px;
    }
    .productdisplay-rigth-sizes span{
        padding: 10px 14px;
    }
    .productdisplay-right button{
        width: 150px;
        padding: 13px 0px;
        margin-bottom: 18px;
    }
    .productdisplay-right-category{
        margin-top: 5px;
        font-size: 14px;
    }
}

@media(max-width:992px){
    .productdisplay{
        margin: 0px 30px;
    }
    .productdisplay-left{
        gap: 5px;
    }
     .productdisplay-img-list img{
        height: 80px;
        object-fit: contain;
    }
    .productdisplay-main-img{
        width: auto;
        height: 350px;
    }
    
    .productdisplay-right h1{
        font-size: 18px;
    }
    .productdisplay-right .ratings{
        gap: 5px;
        font-size: 12px;
    }
    .productdisplay-right-prices{
        margin: 10px 0px ;
        font-size: 18px;
    }
    .productdisplay-right-description{
        font-size: 12px;
    }
    .productdisplay-right-size h1{
        margin-top: 20px;
        font-size: 18px;
    }
    .productdisplay-rigth-sizes span{
        padding: 10px 14px;
    }
    .productdisplay-right button{
        width: 120px;
        padding: 10px 0px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .productdisplay-right-category{
        margin-top: 5px;
        font-size: 12px;
    }
}

@media(max-width:767px){
    .productdisplay{
        margin: 0px 10px;
    }
    .productdisplay-left{
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .productdisplay-img-list{
        flex-direction: row;
        gap: 0px;
        margin-top: 10px;
    }
     .productdisplay-img-list img{
        height: 70px;
        object-fit: contain;
        width: 100px;
    }
    .productdisplay-main-img{
        width: auto;
        height: 300px;
    }
    
    .productdisplay-right h1{
        font-size: 14px;
    }
    .productdisplay-right .ratings{
        gap: 5px;
        font-size: 10px;
    }
    .productdisplay-right-description{
        font-size: 10px;
    }
    .productdisplay-right-size h1{
        margin-top: 10px;
        font-size: 16px;
    }
    .productdisplay-rigth-sizes span{
        padding: 10px 12px;
        font-size: 10px;
    }
    .productdisplay-right button{
        width: 100px;
        font-size: 10px;
    }
    .productdisplay-right-category{
        margin-top: 5px;
        font-size: 12px;
    }
    .productdisplay-right{
        margin-right: 30px;
    }
    .productdisplay-right-prices{
        font-size: 13px;
    }
}

@media(max-width:550px){
    .productdisplay{
        flex-direction: column;
    }
    .productdisplay-left{
        gap: 10px;
        margin-bottom: 20px;
        
    }
    .productdisplay-img-list{
        flex-direction: row;
        gap: 0px;
        margin-top: 10px;
    }
     .productdisplay-img-list img{
        height: 70px;
        object-fit: contain;
        width: 100px;
    }
    .productdisplay-main-img{
        width: auto;
        height: 300px;
    }
    
    .productdisplay-right h1{
        font-size: 14px;
    }
    .productdisplay-right .ratings{
        gap: 5px;
        font-size: 10px;
    }
    .productdisplay-right-description{
        font-size: 10px;
    }
    .productdisplay-right-size h1{
        margin-top: 10px;
        font-size: 16px;
    }
    .productdisplay-rigth-sizes span{
        padding: 10px 12px;
        font-size: 10px;
    }
    .productdisplay-right button{
        width: 100px;
        font-size: 10px;
    }
    .productdisplay-right-category{
        margin-top: 5px;
        font-size: 12px;
    }
    .productdisplay-right{
        margin-right: 30px;
    }
    .productdisplay-right-prices{
        font-size: 13px;
    }
}

